<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>giovanni-whowaswhen</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>6629522C-A717-4AD9-9118-BCF6C6B34239</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07F3DDBE-52E0-42CB-B500-14EE562DDB8C</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>40A1963B-DAC7-4FEF-9A22-7500E8581A89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9C706140-CECC-4899-9AEC-C284A655F24E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>029F64E6-A72A-4FDF-BF21-16380B5E0DEB</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CE27BBD9-C66D-4191-B4F8-824AB2988CD0</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8513CCE5-7A93-409D-B693-2504E1AC3B6D</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CDC4D2A4-25EC-4D10-845F-27C7CE67F442</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6629522C-A717-4AD9-9118-BCF6C6B34239</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string>Travel through history with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>WhoWhasWhen 👑</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>mainQuery</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>07F3DDBE-52E0-42CB-B500-14EE562DDB8C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CDC4D2A4-25EC-4D10-845F-27C7CE67F442</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:MY_KEYWORD}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>⏳...fetching database ...</string>
				<key>script</key>
				<string>./ruler-query "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>WhoWasWhen 👑</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>mainQuery</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6629522C-A717-4AD9-9118-BCF6C6B34239</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>40A1963B-DAC7-4FEF-9A22-7500E8581A89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>mainQuery</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>9C706140-CECC-4899-9AEC-C284A655F24E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>mainQuery</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>029F64E6-A72A-4FDF-BF21-16380B5E0DEB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CE27BBD9-C66D-4191-B4F8-824AB2988CD0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>mainQuery</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>8513CCE5-7A93-409D-B693-2504E1AC3B6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># WhoWasWhen 👑

Travel through history with Alfred
![](screenshot.png)

# Usage

Query search terms can be:

1. 📆 a number (which will be interpreted as a year and will search for that year). Asterisks can be used as wildcards, e.g. `177*` will match any year starting with 177 (e.g. 1776, 1777, etc.).
   - Note: use a negative number to search for years before Christ, e.g. `-44` will search for 44 BC.
2. 📍 a number and a string (will search for the string in that year, for example `1789 france` or `1323 pope`)
   - Note: wilcards can be combined with text searches, e.g. if you wonder who were the Popes of the 1500s, you can search for `15** pope`.
3. 🫅 a string only (will search for a matching ruler, e.g. `catherine`) 
4. 📰 an event (will search for a matching event, e.g. `french revolution`) if the checkbox "Show Events?" is enabled in `Workflow Configuration`. 

Once a result is identified, it can be actioned in one of five ways:

1. ↩️ `Enter` will show the Wikipedia page of the ruler or event, if available
2. ^️️↩️ `ctrl+enter` will 'travel' to the first year of the ruling period or event
3. ⌘↩️ `cmd+enter` will 'travel' to the last year of the ruling period or event
4. ⌥↩️ `opt+enter` will show the list of rulers with that title (e.g. 'English monarch')
5. ⇧↩️ `shift+enter` will copy the info about the ruler or event to the clipboard

# Feedback
If you notice a bug, incorrect information, or have ideas for new features, please feel free to get in touch either on [Github](https://github.com/giovannicoppola/alfred-WhoWasWhen), on the [Alfred forum](https://www.alfredforum.com/).</string>
	<key>uidata</key>
	<dict>
		<key>029F64E6-A72A-4FDF-BF21-16380B5E0DEB</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>end</string>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>07F3DDBE-52E0-42CB-B500-14EE562DDB8C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>start</string>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>40A1963B-DAC7-4FEF-9A22-7500E8581A89</key>
		<dict>
			<key>xpos</key>
			<real>1125</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>6629522C-A717-4AD9-9118-BCF6C6B34239</key>
		<dict>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>8513CCE5-7A93-409D-B693-2504E1AC3B6D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>back</string>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>9C706140-CECC-4899-9AEC-C284A655F24E</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>rulers list</string>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>CDC4D2A4-25EC-4D10-845F-27C7CE67F442</key>
		<dict>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>CE27BBD9-C66D-4191-B4F8-824AB2988CD0</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>wwho</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Workflow Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>MY_KEYWORD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Return notable events in addition to rulers?</string>
			<key>label</key>
			<string>Show events?</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>SHOW_EVENTS</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/alfred-WhoWasWhen</string>
</dict>
</plist>
